@import "/src/styles/index.css";
.nav-item-active {
  border: 1px solid var(--meta-black) !important;
  border-radius: 26px;
  padding: 10px 20px;
  transition: 0.3s;
}
.nav-item-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--meta-text);
  padding: 10px 20px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 26px;
}
