:root {
  --meta-blue: #0866ff;
  --meta-dark-blue: #1d2b42;
  --meta-light-blue: #e7f3ff;
  --meta-background: #f0f2f5;
  --meta-text: #050505;
  --meta-gray: #65676b;
  --meta-light-gray: #d8dadf;
  --meta-dark-gray: #3a3b3c;
  --meta-white: #ffffff;
  --meta-black: #000000;

  --meta-font: "Meta Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: var(--meta-background);
  color: var(--meta-text);
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  
}
* {
  font-family: var(--meta-font);
}
