.nav-item-active{
    background-color: var(--meta-background);
    border-radius: 26px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.nav-item-link{
    text-decoration: none;
    color: var(--meta-text);
}