:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #2fbb4f;
  --color-secondary: #0d74e7;
  --color-accent: #2b3137;
  --color-background: #24292d;
  --color-text: #ffffff;

}
