@import "/src/styles/index.css";
.home{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}
.home-title{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.home-description{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.home-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var();
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}